@font-face {
  font-family: PixelifySans;
  src: url("../src/assets/fonts/PixelifySans-VariableFont_wght.ttf"), format("ttf"),
}

@keyframes upDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

@import "tailwindcss";


@theme {
  --font-pixel: PixelifySans, "sans-serif"
}


