@font-face {
  font-family: PixelifySans;
  src: url("../src/assets/fonts/PixelifySans-VariableFont_wght.ttf"), format("ttf"),
}

@keyframes upDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.up-down {
  animation: upDown 1s ease-in-out infinite;
}


@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.fade-out {
  animation: fadeOut 6s ease-out forwards;
}


@keyframes spinCustom {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-on-axis {
  animation: spinCustom 6s linear infinite;
}

/* barra de som e de progresso da musica */
input[type="range"].pink-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background-color: #ec4899; /* Tailwind pink-500 */
  border: 2px solid #be185d; /* pink-800 for outline */
  border-radius: 9999px; /* 👈 Makes it a perfect circle */
  cursor: pointer;
  box-shadow: 1px 1px 0 #9d174d; /* optional pixel-style depth */
}



/* envelope */
.clip-envelope-body {
  clip-path: polygon(0 100%, 0 0, 50% 60%, 100% 0, 100% 100%);
}

.clip-envelope-flap {
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
  white-space: nowrap;
}



/* Add this to your global CSS file */
.custom-scrollbar {
  scrollbar-gutter: stable both-edges; /* Prevent layout shift */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

/* For WebKit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}



@import "tailwindcss";


@theme {
  --font-pixel: PixelifySans, "sans-serif"
}


